.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}
.header {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 2rem;
    font-weight: 600;
    color: #529ed1;
}

Button:hover {
    color:#529ed1
}